@import "tailwindcss";

@font-face {
  font-family: 'Bellarina';
  src: url('/fonts/Bellarina.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arpona';
  src: url('/fonts/Arpona-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@theme {
  --font-family-bellarina: 'Bellarina', serif;
  --font-family-arpona: 'Arpona', serif;
  --font-family-inter: 'Inter', sans-serif;
}

.font-bellarina {
  font-family: var(--font-family-bellarina);
}

.font-arpona {
  font-family: var(--font-family-arpona);
}

.font-inter {
  font-family: var(--font-family-inter);
}
  